<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/head.ejs') %>
</head>

<body>
    <div class="New">
            <div id="flex-container">
            <a href="/"> <button> Back to Home</button></a>

            <form action="/concert/" method="post">

           <p><input type="text" name="name" style="font-size:inherit" placeholder= "Artist Name" />

            <p><input type="text" name="tourName" placeholder= "Tour Name" /> </p>

             <p><img class="image" width="300" id="changingImg" src=""> </p>

            <p> <input type="text" name="image" id="imageURL" oninput="updatingImg()" placeholder= "Image URL"/></p>

             <p> <input type="text" name="genre" placeholder= "Artist Genre"/></p>

              <p> <input type="text" name="dateAttended" placeholder= "Concert Date"/></p>

              <p> <input type="text" name="notes" placeholder= 
               "Notes" /></p>

               <a><button type="submit"> Add Concert </button> </a>
            </form>
        </div>
        </div>
        <script>
        // changing image on edit page dynamically to reflect URL

        function updatingImg () {
           const newImg= document.querySelector("#imageURL").value
           if (newImg) {
             document.querySelector("#changingImg").src=newImg 
           } else {
            document.querySelector("#changingImg").src="/noimage.jpeg"
           }
        }

        updatingImg()
    </script>
</body>

</html>