body {
    color: white;
    --color-scheme: rgb(92, 127, 175);
    background: var(--color-scheme);
    display: flex;
    flex-direction: column;
    min-height: 0;
}


html {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Home Page  */


a.titleText {
    text-align: center;
}

/* Holder for the artist/concert folders */

.holdAll {
 display: flex;
min-height: 0;
}
/* holder for database object styles */
.objects {
text-decoration: none;
color: inherit;
}

ul.homeList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 10px 10px;
    padding: 20px;
    border-radius: 5em;
}

.flex-container {
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    overflow-y: auto;
}

.flex-container::-webkit-scrollbar{
    width: 10px;
}
.flex-container::-webkit-scrollbar-track{
    background:var(--color-scheme)
}

.flex-container::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 6px;
    border: 3px solid var(--color-scheme);
}

/* database object styles */
.db-object {
    display: flex;
    flex-direction: row;
    background: gray;
    border-radius: 2em;
    text-align: center;
    margin: 5px 2px 5px 2px;
    width: 450px;
    height: 130px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.image {
    border-radius: 10em;
}

/* main page css */

.textBox {
    display: flex;
    flex-direction: column;
     padding: 5px;
     text-align: left;
     width: 360px;
     margin: 0px 10px 5px 10px;
     position: relative;
     justify-content: center;
}

.iconHold{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 6px;
    right: 5px;
}

/* artist show page css */

.Show {
     background: gray;
    border-radius: 2em;
    text-align: center;
    margin: 20px auto 5px;
    width: 50%;
}